
.parent {
    display: grid;
    grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 26px;
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 5; }
    .div2 { grid-area: 2 / 2 / 6 / 4; }
    .div3 { grid-area: 2 / 4 / 6 / 5; }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #111;
    }